---
import { AppConfig } from '@/utils/AppConfig';
import { optionDescriptions } from '@/utils/quiz';

const pStyle = "mb-3 font-normal text-gray-700 dark:text-gray-400"
---

<div class="max-w-4xl rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          Get Started
        </h5>
    </a>
    <p class={pStyle}>
      These <b class="dark:text-white">70</b> questions ask about your lifestyle, health and how you feel.
      There are no right or wrong answers.
      Please rate how much each statement applies to you. Focus on the most recent weeks.
    </p>
    <p class={pStyle}>
      Here are the potential ratings you'll be able to choose from, and how to think about them
    </p>
    <ul class={`pl-2 pb-4 ${pStyle}`}>
      {Object.keys(optionDescriptions).map((option) => (
        <li><b class="dark:text-white">{option}</b>: {optionDescriptions[option]}</li>
      ))}
    </ul>
    <p class={`pb-8 ${pStyle}`}>
      If possible, to give yourself the most complete picture, have another person who knows you well
      (such as a partner, close friend, or family member) rate you as well.
    </p>

    <a href={`${AppConfig.base}/quiz/1/`} class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        I'm ready!
        <svg class="ms-2 h-3.5 w-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
